.ContactezNous {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.ContactezNous span {
  font-size: 2em;
  color: white;
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 10px;
}

@keyframes appearing {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  33% {
    transform: translateY(10%);
  }
  66% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.ContactezNous .expert,
.ContactezNous .vendeur {
  display: block;
  width: 500px;
  height: 280px;
  margin-bottom: 40px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  animation: appearing .2s ease 0s 1 forwards;
}

.ContactezNous .expert {
  background: url(../../__ressources/images/expertdyi.jpg) center center / cover;
}

.ContactezNous .vendeur {
  background: url(../../__ressources/images/vendeur.jpg) center center / cover;
}