.Header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  background: url(../../__ressources/images/background.jpg) center center / cover;
  color: #FFFFFF;
  box-shadow: 0px 0px 20px 0px rgba(100,100,100,1);
  z-index: 100;
}

.RobotMessage {
  background: white;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.2em;
  color: black;
  transition: all .2s ease;
}