.print{
  float: right;
}

.h1{
  text-align: center;
  font-size: 40px;
}

h4 {
  text-align: center;
  font-weight: bold;
}

ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  width: 100%;
  
}
ul li h5{
  text-align: center;
}


ul li img{
  width: 250px;
  height: 250px;
}