.RobotFace {
  position: relative;
  width: 300px;
  background: url(../../__ressources/images/robot_normal.png) center center / cover;
  transition: linear .1s all;
}

.RobotFace:before {
  display: block;
  content: '';
  padding: 100% 0 0 0;
}

.RobotFace.blink {
  background-image: url(../../__ressources/images/robot_blink.png);
}

@keyframes robotSpeaking {
  0% {
    background-image: url(../../__ressources/images/robot_mouth_closed.png);
  }
  15% {
    background-image: url(../../__ressources/images/robot_mouth_middle.png);
  }
  30% {
    background-image: url(../../__ressources/images/robot_normal.png);
  }
  35% {
    background-image: url(../../__ressources/images/robot_mouth_closed.png);
  }
}

.RobotFace.speaking {
  animation: robotSpeaking 1s linear 0s infinite;
}