body {
  background: lightgrey;
}

.App {
  /* width: 1080px;
  height: 1920px; */
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background: white;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.App .pageContent {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}

@media screen and (max-width: 1024px) {
  .App .pageContent {
    padding: 80px 20px 0 20px;
  }
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9b59b6;
}

::-webkit-scrollbar-thumb:hover {
  background: #8e44ad;
}

::-webkit-scrollbar-track {
  background: #bdc3c7;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: .8em;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}