.Navigation {
  width: 300px;
  height: calc(100vh - 340px);
  border-left: solid 1px grey;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Navigation .NavItem {
  display: block;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top: solid 1px white;
  background: lightgray center center / cover;
  box-sizing: border-box;
}

.Navigation .NavItem .label {
  transition: all .2s;
  flex: 1;
  background: rgba(0, 0, 0, 0.2);
  font-size: 2em;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Navigation .NavItem.active .label {
  background: rgba(0, 0, 0, 0.5);
}